<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visita ao Condomínio</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <style>
      li {
        font-size: small;
      }
      /* Estilos personalizados */
      body {
        background-color: #f8f9fa; /* Fundo claro */
      }
      #map {
        height: 400px;
        width: 100%;
        border-radius: 10px; /* Bordas arredondadas */
        overflow: hidden; /* Esconde bordas */
      }
      .btn-custom {
        background-color: #343a40; /* Fundo escuro */
        color: white; /* Texto branco */
        border: none; /* Sem borda */
        transition: background-color 0.3s; /* Transição suave */
      }
      .btn-custom:hover {
        background-color: #495057; /* Cor ao passar o mouse */
      }
      .card {
        border-radius: 15px; /* Bordas arredondadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
      }
      .card-title {
        font-weight: bold; /* Título em negrito */
      }
      .contact-buttons button {
        margin-right: 10px; /* Espaçamento entre botões */
      }
      .route-instructions {
        padding: 20px; /* Espaçamento interno */
        margin-top: 20px; /* Espaçamento superior */
      }
      .route-instructions h6 {
        color: #343a40; /* Cor do texto */
        border-bottom: 2px solid #007bff; /* Linha abaixo do título */
        padding-bottom: 5px; /* Espaçamento abaixo do título */
      }
      .route-instructions p,
      .route-instructions li {
        line-height: 1.6; /* Aumenta o espaçamento entre linhas */
      }
      .route-instructions ul {
        margin-left: 20px; /* Espaçamento à esquerda para listas */
      }
      .shadow {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
        transform: translateY(-5px); /* Eleva a imagem um pouco */
      }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="alertModalLabel">Aviso Importante</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <i class="fas fa-info-circle"></i> Tenha seu RG em mãos para ser autorizado na portaria, caso esteja de carro, também é necessário passar modelo, cor e a placa do veículo.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRcNc3E2G_ZANUHzmSFaM7bHtkWh_xx44M2A&s" alt="" class="img-fluid rounded-circle shadow">
        </div>
      <h1 class="mt-4 text-center">Seja bem-vindo, visitante!</h1>
      <div class="col-md-6 mb-2 mx-auto">
        <div class="card bg-primaryo mb-3 h-700 mt-4" id="card-visita">
          <div class="card-body">
            <h5 class="card-title text-center">
              <i class="fas fa-calendar-check"></i> Marcar uma visita?
            </h5>
            <a
              href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Visita%20a%20Matheus%20e%20Beatriz&dates=20231015T140000Z/20231015T150000Z&details=Visita%20a%20Matheus%20e%20Beatriz%20em%20Rua%20Vandick%20Reidner%20P.%20Coqueiro,%20597,%20Resi.%20Cosmos&location=Rua%20Vandick%20Reidner%20P.%20Coqueiro,%20597,%20Resi.%20Cosmos"
              class="btn btn-primary btn-block"
              target="_blank"
              >Agendar</a
            >
            <div class="contact-buttons mt-3 text-center">
              <h5>Falar com</h5>
              <li class="list-group-item">
                <strong>Matheus:</strong> (19)99959-1073
                <a href="tel:+5519999591073" class="float-right"
                  ><i class="fas fa-phone"></i
                ></a>
                <a href="https://wa.me/5519999591073" class="float-right mr-2"
                  ><i class="fab fa-whatsapp"></i
                ></a>
              </li>
              <li class="list-group-item">
                <strong>Beatriz:</strong> (19)99103-5924
                <a href="tel:+5519991035924" class="float-right"
                  ><i class="fas fa-phone"></i
                ></a>
                <a href="https://wa.me/5519991035924" class="float-right mr-2"
                  ><i class="fab fa-whatsapp"></i
                ></a>
              </li>
              <li class="list-group-item">
                <strong>Portaria:</strong> (19)99103-5924
                <a href="tel:+5519991035924" class="float-right"
                  ><i class="fas fa-phone"></i
                ></a>
                <a href="https://wa.me/5519992585597" class="float-right mr-2"
                  ><i class="fab fa-whatsapp"></i
                ></a>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <div class="text-center">
            <h3>Para sua comodidade</h3>
            <h5>Segue dados para facilitar sua vinda até nós</h5>
            <p>
              <strong>Endereço:</strong>
              <span id="endereco"
                >Rua Vandick Reidner P. Coqueiro, 597, Resi. Cosmos, CEP
                13059-112</span
              >
              <button
                class="btn btn-link"
                onclick="copiarEndereco()"
                style="padding: 0; border: none; background: none"
              >
                <i class="fas fa-copy"></i>
                Copiar
              </button>
            </p>
            <p><strong>Bloco:</strong> G | <strong>Apto:</strong> 404</p>
            <p><strong>Vaga:</strong> 75</p>
            <p>Se localize ao chegar</p>
            <img src="mapa.png" alt="" width="700px" class="img-fluid rounded mb-3" />
            <p>Como estacionar na vaga</p>
            <img src="Vagapptx.gif" alt="" width="1000px" class="img-fluid rounded mb-3" />
            <h5>Orientações para Chegar:</h5>

            <a
                href="https://m.uber.com/ul/?action=setPickup&pickup[latitude]=-22.9438676&pickup[longitude]=-47.1605901&pickup[formatted_address]=Current%20Location&dropoff[latitude]=-22.9438854&dropoff[longitude]=-47.1606281&dropoff[formatted_address]=Rua%20Vandick%20Reidner%20P.%20Coqueiro%2C%20597%2C%20Resi.%20Cosmos%2C%20CEP%2013059-112 "
              class="btn btn-custom"
              style="background-color: #000000; color: white"
              target="_blank"
            >
              <i class="fab fa-uber" style="margin-right: 5px"></i> Ir de Uber
            </a>

            <button class="btn btn-primary" onclick="irParaEndereco()">
              <i class="fas fa-car"></i> Ir de carro
            </button>
          </div>

          <!-- Imagem responsiva -->

          <div class="route-instructions mt-0 mb-3">
            <div class="accordion" id="routeAccordion">
              <div class="card">
                <div class="card-header" id="headingCar">
                  <h6 class="mb-0">
                    <button
                      class="btn btn-link collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseCar"
                      aria-expanded="false"
                      aria-controls="collapseCar"
                    >
                      <i class="fas fa-car"></i> De Carro
                    </button>
                  </h6>
                </div>
                <div
                  id="collapseCar"
                  class="collapse"
                  aria-labelledby="headingCar"
                  data-parent="#routeAccordion"
                >
                  <div class="card-body">
                    <p>
                      <strong>Saída do Terminal Satélite Íris:</strong>
                      <i class="fas fa-arrow-right"></i> Saia do terminal e
                      entre na Avenida John Boyd Dunlop no sentido Campo Grande.
                    </p>
                    <p>
                      <strong>Percurso:</strong>
                      <i class="fas fa-road"></i> Siga pela Avenida John Boyd
                      Dunlop até ver a loja, "Duda Utilidade do lar".
                      Mantenha-se à direita para acessar a via marginal.
                    </p>
                    <p>
                      <strong>Entrada no Residencial Cosmos:</strong>
                      <i class="fas fa-arrow-right"></i> Ao ver a loja Duda
                      Utilidades do Lar, entre na Rua Lúcio Esteves.
                    </p>
                    <p>
                      <strong>Continue pela Rua Lúcio Esteves:</strong>
                      <i class="fas fa-arrow-right"></i> Continue pela Rua Lúcio
                      Esteves e vire a direita na Rua José Rodrigues Duarte.
                    </p>
                    <p>
                      <strong>Siga pela Rua José Rodrigues Duarte:</strong>
                      <i class="fas fa-arrow-right"></i> Siga pela Rua José
                      Rodrigues Duarte e vire a direita na Rua Osvaldo Orlando
                      da Costa.
                    </p>
                    <p>
                      <strong>Dobre na Rua Osvaldo Orlando da Costa:</strong>
                      <i class="fas fa-arrow-right"></i> Na Rua Osvaldo Orlando
                      da Costa, desça a rua até o final e dobre na esquina à
                      esquerda da Rua Vandick Reider, em direção ao Coqueiro.
                    </p>
                    <p>
                      <strong>Destino:</strong>
                      <i class="fas fa-map-marker-alt"></i> Siga pela Rua
                      Vandick Reider P. Coqueiro, 597.
                    </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingBus">
                  <h6 class="mb-0">
                    <button
                      class="btn btn-link"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseBus"
                      aria-expanded="true"
                      aria-controls="collapseBus"
                    >
                      <i class="fas fa-bus"></i> De Ônibus
                    </button>
                  </h6>
                </div>

                <div
                  id="collapseBus"
                  class="collapse"
                  aria-labelledby="headingBus"
                  data-parent="#routeAccordion"
                >
                  <div class="card-body">
                    <p>No Terminal Satélite Íris:</p>
                    <ul class="list-unstyled">
                      <li>
                        <i class="fas fa-arrow-right"></i> Procure a plataforma de embarque das linhas que atendem a região do Residencial Cosmos.
                      </li>
                      <li><strong>Linhas Disponíveis:</strong></li>
                      <ul>
                        <li><i class="fas fa-bus"></i> Linha 233: Res. Cosmos / Term. Satélite Íris</li>
                        <li><i class="fas fa-bus"></i> Linha 235: Residencial Sírius / Term. Satélite Íris</li>
                      </ul>
                      <li>
                        <i class="fas fa-info-circle"></i> Embarque: Pegue uma das linhas mencionadas acima.
                      </li>
                    </ul>
                    <p>
                      <strong>Desembarque:</strong>
                      <i class="fas fa-exclamation-circle"></i> Peça ao motorista ou cobrador para avisá-lo ao chegar no ponto mais próximo da Rua Vandick Reider P. Coqueiro, 597.
                    </p>
                    <p>
                      <strong>Caminhada Final:</strong>
                      <i class="fas fa-walking"></i> Após desembarcar, siga a pé até o número 597 da Rua Vandick Reider P. Coqueiro.
                    </p>
                    <p>
                      <strong>Observações:</strong> Se precisar de mais informações sobre horários ou localização de plataformas, use aplicativos como Moovit ou consulte o site da EMDEC.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h5 class="mt-4">Mapa:</h5>
          <div class="mb-3">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3674.172658199793!2d-47.16316502328608!3d-22.943867579229124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8b7bde21c9bcd%3A0x1454d68fa07fa39f!2sR.%20Vandick%20Reidner%20P%20Coqueiro%2C%20597%20-%20Jardim%20Florence%2C%20Campinas%20-%20SP%2C%2013059-112!5e0!3m2!1spt-BR!2sbr!4v1735253269368!5m2!1spt-BR!2sbr"
              width="100%"
              height="250"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <footer class="text-center mt-4 mb-3">
      <p>Desenvolvido por Matheus Bonotto 2024</p>
    </footer>

  </body>
</html>
