<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Site Responsivo</title>
    <style>
      li{
        font-size: small;
      }
      .card {
        height: 200px; /* Definindo uma altura fixa para todos os cards */
      }
      .card-title {
        text-align: left; /* Justificando o texto para o canto inferior esquerdo */
        margin-bottom: 0; /* Removendo margem inferior para melhor alinhamento */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center my-2">Portal do Morador</h1>
      <h2 class="text-center">Bem vindo familia Bonotto</h2>
      <div class="row">
        <div class="col-md-6 col-6">
          <div
            class="card text-white bg-primary"
            id="card-contatos"
            data-toggle="modal"
            data-target="#modalContatos"
            style="border-radius: 10px"
          >
            <div class="card-body d-flex flex-column">
              <div class="d-flex align-items-start">
                <i class="fas fa-address-book" style="font-size: 45px"></i>
              </div>
              <h5 class="card-title mt-auto">Contatos</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-6">
          <div
            class="card text-white bg-success"
            id="card-segunda-via"
            onclick="window.location.href='segundavias.html'"
            style="border-radius: 10px"
          >
            <div class="card-body d-flex flex-column">
              <div class="d-flex align-items-start">
                <i class="fas fa-file-invoice" style="font-size: 45px"></i>
              </div>
              <h5 class="card-title mt-auto">Segunda Via de Contas</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-6">
          <div
            class="card text-white bg-warning"
            id="card-imovel"
            onclick="window.location.href='imovel.html'"
            style="border-radius: 10px"
          >
            <div class="card-body d-flex flex-column">
              <div class="d-flex align-items-start">
                <i class="fas fa-home" style="font-size: 45px"></i>
              </div>
              <h5 class="card-title mt-auto">Informações do Imóvel</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-6">
          <div
            class="card text-white bg-info"
            id="card-wifi"
            onclick="window.location.href='wifi.html'"
            style="border-radius: 10px"
          >
            <div class="card-body d-flex flex-column">
              <div class="d-flex align-items-start">
                <i class="fas fa-wifi" style="font-size: 45px"></i>
              </div>
              <h5 class="card-title mt-auto">Wi-Fi</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-6">
          <div
            class="card text-white bg-danger"
            id="card-visita"
            onclick="window.location.href='visita.html'"
            style="border-radius: 10px"
          >
            <div class="card-body d-flex flex-column">
              <div class="d-flex align-items-start">
                <i class="fas fa-calendar-check" style="font-size: 45px"></i>
              </div>
              <h5 class="card-title mt-auto">Visitas</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal para Contatos -->
      <div class="modal fade" id="modalContatos" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Contatos</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Fechar"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <strong>Zelador:</strong> (19)98993-9419
                  <a href="tel:+5519989939419" class="float-right"
                    ><i class="fas fa-phone"></i
                  ></a>
                  <a href="https://wa.me/5519989939419" class="float-right mr-2"
                    ><i class="fab fa-whatsapp"></i
                  ></a>
                </li>
                <li class="list-group-item">
                  <strong>Zuma Engenharia:</strong> (19)99816-0260
                  <a href="tel:+5519998160260" class="float-right"
                    ><i class="fas fa-phone"></i
                  ></a>
                  <a href="https://wa.me/5519998160260" class="float-right mr-2"
                    ><i class="fab fa-whatsapp"></i
                  ></a>
                </li>
                <li class="list-group-item">
                  <strong>Seguro Tokyo Marine:</strong> (11)99578-6546
                  <a href="tel:+5511995786546" class="float-right"
                    ><i class="fas fa-phone"></i
                  ></a>
                  <a href="https://wa.me/5511995786546" class="float-right mr-2"
                    ><i class="fab fa-whatsapp"></i
                  ></a>
                </li>
                <li class="list-group-item">
                  <strong>Portaria:</strong> (19)99258-5597
                  <a href="tel:+5519992585597" class="float-right"
                    ><i class="fas fa-phone"></i
                  ></a>
                  <a href="https://wa.me/5519992585597" class="float-right mr-2"
                    ><i class="fab fa-whatsapp"></i
                  ></a>
                </li>
                <li class="list-group-item">
                  <strong>Síndico Ricardo:</strong> (19)98289-0000
                  <a href="tel:+5519982890000" class="float-right"
                    ><i class="fas fa-phone"></i
                  ></a>
                  <a href="https://wa.me/5519982890000" class="float-right mr-2"
                    ><i class="fab fa-whatsapp"></i
                  ></a>
                </li>
                <li class="list-group-item">
                  <strong>Subsíndica Paty:</strong> (19)98812-4347
                  <a href="tel:+5519988124347" class="float-right"
                    ><i class="fas fa-phone"></i
                  ></a>
                </li>
                <li class="list-group-item">
                  <strong>Matheus Bonotto:</strong> (19)99959-1073
                  <a href="tel:+5519999591073" class="float-right"
                    ><i class="fas fa-phone"></i
                  ></a>
                  <a href="https://wa.me/5519999591073" class="float-right mr-2"
                    ><i class="fab fa-whatsapp"></i
                  ></a>
                </li>
                <li class="list-group-item">
                  <strong>Beatriz Bonotto:</strong> (19)99103-5924
                  <a href="tel:+5519991035924" class="float-right"
                    ><i class="fas fa-phone"></i
                  ></a>
                  <a href="https://wa.me/5519991035924" class="float-right mr-2"
                    ><i class="fab fa-whatsapp"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Adicionando rodapé ao final do corpo -->
    <footer class="text-center mt-4 mb-3">
      <p>Desenvolvido por Matheus Bonotto 2024</p>
    </footer>
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
